h1 {
    color: green;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.margin {
    margin-top: 10px;
}

ul {
    display: inline-block;
    text-align: center;
}

@media (min-width: 500px) {
    body {
        background-color: lightsalmon;
    }
}    

@media (max-width: 499px) {
    body {
        background-color: green;
    }

}