h1 {
    color: green;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.margin {
    margin-top: 10px;
}

ul {
    display: inline-block;
    text-align: center;
}